
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

.title_school{

    align-items: center;
    margin:0  30px;
   display: flex;
   justify-content: space-between;
    
}
.title_school > span{
    
 
 font-size: 24px;
}
.submitdiv{
    align-items: center;
    text-align: center;
}
.submitbtn{

    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    background: #2689C3;
    color: #fff;
    outline: none;
    border: none;
    /* border: 1px solid #008BCD ; */
    margin: 10px 0;
    cursor: pointer;
}
.btnView{
    /* padding: 10px; */
    cursor: pointer;

    padding:10px;
    font-size: 15px;
    background-color: transparent;
    border: none;
    color: #2689C3;

}
.btnView:hover{
    background-color: #e3f0f8;
}